.bg {
    background-image: url("http://www.kabu-load.net/data/out/3/IMG_387543.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
