@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

.right {
    width: 87%;
    text-align: center;
    border: 5px solid #0A2E6B;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.88);
    position: relative;                /* [1] */
    display: inline-block;             /* [2] */
    top: 50%; left: 50%;               /* [3] */
    transform: translate(-52%,-50%);
}

.outer2 {
    width: 50%;
    float: right;
    height: 100vh;
}

#fazerlogo {
    width: 400px;
    padding: 40px 0 15px 0;
}

.food_group {
    margin: 8px;
    font-family: 'McLaren', cursive;
    float: left;
    width: 98%;
    border-radius: 7px;
}

.food_element {
    margin: 8px;
    font-size: 21px;
}

#day {
    font-size: 30px;
    color: #0A2E6B;
    font-family: 'Roboto', sans-serif;
    margin: 5px 0 20px 0;
}


