.left {
  display:block;
  float: left;
  width: 47%;
  margin-left: 15px;
  text-align: center;
  border: 3px solid #ED1B26;
  border-radius: 20px;
  padding: 10px;
  background-color: #fcfcfc;
}

.right {
  display:block;
  float: right;
  width: 47%;
  margin-right: 15px;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
