.left {
  display:block;
  float: left;
  width: 47%;
  margin-left: 15px;
  text-align: center;
  border: 3px solid #ED1B26;
  border-radius: 20px;
  padding: 10px;
  background-color: #fcfcfc;
}

.right {
  display:block;
  float: right;
  width: 47%;
  margin-right: 15px;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
}

.date_name {
  font-family: 'McLaren', cursive;
  font-size: 20px;
}
