.left {
  display:block;
  float: left;
  width: 48%;
  margin-left: 15px;
  text-align: center;
  border: 3px solid #ED1B26;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
  background-color: whitesmoke;
}

.right {
  display:block;
  float: right;
  width: 45%;
  margin-right: 40px;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
}

#logo {
  width: 200px;
  padding: 0 0 8px 0;
}
