@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

#fazerlogo {
    width: 350px;
    padding: 25px 0 15px 0;
}

.food_group {
    border: 2px solid black;
    margin: 4px;
    font-family: 'McLaren', cursive;
    float: left;
    width: 70%;
}

.food_element {
    margin: 10px;
    font-size: 16px;
}
