@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

.title {
    float: left;
    width: 77%;
    display: block;
    border: 2px solid black;
    padding: 10px 0 10px 0;
    font-family: 'McLaren', cursive;
    font-size: 16px;
    margin: 3px;
    color: #29295D;
}

.price {
    float: right;
    width: 20%;
    display: block;
    font-family: 'McLaren', cursive;
    border: 2px solid black;
    padding: 21.5px 0 21.5px 0;
    margin: 3px;
}

#sodexologo {
    width: 250px;
    padding: 0 0 15px 0;
}


